# macOS
.DS_Store

# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo

# File di output dell'applicazione (per evitare push accidentali di dati personali)
*.xlsx
*.pdf

# File di test e modelli
esempi_pdf/